[user]
	email = aristeoibarra608@gmail.com
	name = aristeoibarra
[pull]
	ff = only
[help]
	autocorrect = 20
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[include]
	path = ~/.config/delta/theme.gitconfig

[delta]
	navigate = true
	line-numbers = true
	side-by-side = false
